* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    background-color:white;
    position: fixed;
    bottom: 10px;
    right: -400px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999; 
    transition: right 0.3s ease-in-out;
}

.chat-header {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.chat-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.bot-message {
    background-color: #e6e6e6; 
    align-self: flex-start; 
}

.user-message {
    background-color: #fff7ba;
    align-self: flex-end; 
}

.chat-footer {
    padding: 10px;
    display: flex;
    flex-shrink: 0;
    background-color: #f9f9f9;
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.send-btn {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.euri-header {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

