<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>
        <h1>Eurofarma - Compliance</h1>
        <button>Fale com o Euri</button>
    </header>
    <div>
        <div>Perguntas Frequentes</div>
        <div>Manuais de Conduta</div>
        <div>Relatórios de Não-Conformidade</div>
        <div>Recursos de Compliance</div>
    </div>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
