<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='perguntas.css') }}">
    <title>Perguntas Frequentes</title>
</head>
<body>
    <header>
        <h1>Eurofarma - Compliance</h1>
        <button>Fale com o Euri</button>
    </header>
    <div class="faq-container">
        <div class="faq-item">
            <div class="faq-question">Como fazer uma pergunta ao Euri?</div>
            <div class="faq-answer">Entre em nosso chat bot pela tela principal, na parte superior direita.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">O que acontece se eu não seguir o manual de conduta em uma venda?</div>
            <div class="faq-answer">Resposta para a pergunta sobre o manual de conduta.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">Como são tratadas as violações de compliance e quais são as consequências para os infratores?</div>
            <div class="faq-answer">Resposta para a pergunta sobre violações de compliance.</div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.faq-item').forEach(item => {
            item.addEventListener('click', () => {
                item.classList.toggle('open');
            });
        });
    </script>
</body>
</html>