<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>
</head>
<body>
    <div class="container">
        <div class="header">Relatórios de Não-Conformidade</div>
        <div class="sidebar">
            <div class="title">Biblioteca de conteúdo</div>
            <p>Relatórios de Não-Conformidade, o usuário vai baixar em seus arquivos da máquina para analisar o PDF.</p>
        </div>
        <ul class="document-list">
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#" style="color: white;">Relatório de Não Conformidade - Janeiro</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#" style="color: white;">Relatório de Não Conformidade - Fevereiro</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#" style="color: white;">Relatório de Não Conformidade - Março</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#" style="color: white;">Relatório de Não Conformidade - Abril</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#" style="color: white;">Relatório de Não Conformidade - Maio</a>
            </li>
        </ul>
    </div>
    <div class="footer">Eurofarma | Todos os Direitos Reservados</div>
</body>
</html>