<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='treinamentos.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">Manuais de Conduta</div>
        <ul class="document-list">
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#">Código de Ética</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#">Políticas de Conduta no Trabalho</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#">Conformidade Legal</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#">Comunicações</a>
            </li>
            <li>
                <img src="" alt="Documento" width="20" height="20">
                <a href="#">Relatórios e Investigações</a>
            </li>
        </ul>
    </div>
    <footer>Eurofarma | Todos os Direitos Reservados</footer>
</body>
</html>